html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#calculator {
    width: 384px;
    border: 2px solid #181716;
    border-radius: 6px;
    margin: auto;
    padding: 10px;
    background-color: darkslategray;
    box-shadow: 4px 4px 5px black;
}

#display {
    border: 5px solid #71706e;
    text-align: end;
    padding-right: 5px;
    padding-top: 5px;
    background-color: lightgray;
    box-shadow: inset -2px 2px 5px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    margin: 0 8px;
    line-height: 1rem;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}


button {
    width: 30%;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 5px;
    margin: 5px;
    border: 2px solid maroon;
    border-radius: 5px;
    text-align: center;
    background-color: #71706e;
    box-shadow: 2px 2px 5px black;
}

.num,
#point {
    color: lightskyblue;
}

.num:active,
#point:active,
#delete:active {
    background-color: lightgrey;
    color: #71706e;
    box-shadow: none;
}

#delete {
    background-color: #FF474C;
    color: bisque;
}

.operator,
#clear,
#equals {
    color: darkgreen;
    background-color: lightsalmon;
}

.operator:active,
#clear:active,
#equals:active {
    background-color: lightgrey;
    color: #71706e;
    box-shadow: none;
}